body {
  margin: 20px 0 0 20px;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  /* background-color: darkgray; */
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#source-calendar,
#destination-calendar,
#tree-calendar {
flex: 0 0 30%; /* Ajuste a largura conforme necessário */
  margin-right: 20px;
}

/* .fc-scroller {
  overflow: hidden !important;
} */

