body {
  margin: 20px 0 0 20px;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  /* background-color: rgb(175, 209, 218); */
  /* background-color: darkgray; */
}

/* CABEÇALHO CALENDÁRIO */
.fc-toolbar-chunk{
  display: flex;
  flex-direction: row;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child){
  margin-left: 0;
}
/* ///// */

.fc-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #2c3e50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  cursor: pointer;
}

.fc-button:hover {
  background-color: #1a252f;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.button:hover {
  background-color: #ccc;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.calendar-wrapper {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage as needed */
  margin: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .calendar-wrapper {
    flex: 0 0 calc(50% - 20px);
  }
}

.calendar-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

#source-calendar,
#destination-calendar,
#tree-calendar {
flex: 0 0 30%; /* Ajuste a largura conforme necessário */
  margin-right: 20px;
}

/*  acima já está corrigida.. */
