*{
  margin: none;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.calendar-container {
  margin:none ;
}

.calendar-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-button {
  padding: 5px 2px;
  font-size: 10px; 
}

/* Reduza o tamanho de todos os elementos na classe fc-header-toolbar fc-toolbar fc-toolbar-ltr */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  font-size: 12px;
}

.calendar-wrapper {
  width: 20px;
}

/* Aumenta o tamanho das células do calendário mês */
.fc-day {
  width: 50px; /* Largura aumentada */
  height: 50px; /* Altura aumentada */
}

/* Aumenta o tamanho dos eventos */
.fc-event {
  font-size: 16px; /* Aumenta o tamanho da fonte dos eventos */
  padding: 10px; /* Espaçamento interno aumentado */
}

.fc-daygrid-day-events {
  font-size: 10px;
}

/* Ajuste o tamanho dos botões na classe fc-header-toolbar fc-toolbar fc-toolbar-ltr */
/* .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-button {
  padding: 5px 10px;
}  */