*{
  margin: none;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.calendar-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-button {
  padding: 5px 2px;
  font-size: 10px; 
}

/* Reduza o tamanho de todos os elementos na classe fc-header-toolbar fc-toolbar fc-toolbar-ltr */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  font-size: 10px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Ajuste o tamanho dos botões na classe fc-header-toolbar fc-toolbar fc-toolbar-ltr */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-button {
  padding: 5px 10px; /* Ajuste esses valores para definir o tamanho desejado */
}